body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}
/* Sidebar Wrapper */
#sidebar-wrapper{padding:0;width:33.9%;float:left;word-wrap:break-word;overflow:hidden}
#sidebar-wrapper h2,#sidebar-wrapper h3,#sidebar-wrapper h4{overflow:hidden;position:relative;color:#222;padding:10px 0;margin:0 0 10px 0;text-transform:uppercase;display:block;border-right:3px solid rgba(0,0,0,0.05);letter-spacing:.5px;font-size:17px;cursor:cursor;}
#sidebar-wrapper h2:hover {position:relative;transition:1s;border-right:10px solid rgba(0,0,0,0.05);}
#sidebar-wrapper h2:before,#sidebar-wrapper h4:before{content:&quot;&quot;;;display:inline-block;height:14px;top:0;left:0;margin:0 10px 0 0;width:15px;background:#3b4142}
#sidebar-wrapper .widget ul{margin:5px 0;padding:5px 0}
.widget-content {margin:0;overflow:hidden}
.sidebar {line-height:1.5em;padding:0 0 0 20px}
.sidebar ul {padding:0;margin:0}
.BlogArchive #ArchiveList ul li {text-indent:0}
.sidebar ul li{margin:0;padding:5px 0;border-bottom:1px solid #f1f1f1}
.sidebar .widget {margin:0 0 10px 0}
/* Sidebar Modified CSS */
#PopularPosts1 ul li amp-img, #PopularPosts1 ul li img {border-radius:4px}
#HTML3 {background: #3b4142;padding: 20px 0;height: 150px;border: 1px dashed #f0f0f0;}
#FeaturedPost1 h3 {font-size: 12px;text-align: center;}
#FeaturedPost1 h3 a{color:#222;}
