body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}

/* Font Face */
@font-face{font-family:&#39;Roboto&#39;;font-style:normal;font-weight:300;src:local(&#39;Roboto Light&#39;),local(&#39;Roboto-Light&#39;),url(https://fonts.gstatic.com/s/roboto/v16/Hgo13k-tfSpn0qi1SFdUfVtXRa8TVwTICgirnJhmVJw.woff2) format(&#39;woff2&#39;),url(https://fonts.gstatic.com/s/roboto/v16/Hgo13k-tfSpn0qi1SFdUfT8E0i7KZn-EPnyo3HZu7kw.woff) format(&#39;woff&#39;),url(https://fonts.gstatic.com/s/roboto/v16/Hgo13k-tfSpn0qi1SFdUfSZ2oysoEQEeKwjgmXLRnTc.ttf) format(&#39;truetype&#39;)}
@font-face{font-family:&#39;Roboto&#39;;font-style:normal;font-weight:400;src:local(&#39;Roboto&#39;),local(&#39;Roboto-Regular&#39;),url(https://fonts.gstatic.com/s/roboto/v16/CWB0XYA8bzo0kSThX0UTuA.woff2) format(&#39;woff2&#39;),url(https://fonts.gstatic.com/s/roboto/v16/2UX7WLTfW3W8TclTUvlFyQ.woff) format(&#39;woff&#39;),url(https://fonts.gstatic.com/s/roboto/v16/QHD8zigcbDB8aPfIoaupKOvvDin1pK8aKteLpeZ5c0A.ttf) format(&#39;truetype&#39;)}
@font-face{font-family:&#39;Roboto&#39;;font-style:normal;font-weight:500;src:local(&#39;Roboto Medium&#39;),local(&#39;Roboto-Medium&#39;),url(https://fonts.gstatic.com/s/roboto/v16/RxZJdnzeo3R5zSexge8UUVtXRa8TVwTICgirnJhmVJw.woff2) format(&#39;woff2&#39;),url(https://fonts.gstatic.com/s/roboto/v16/RxZJdnzeo3R5zSexge8UUT8E0i7KZn-EPnyo3HZu7kw.woff) format(&#39;woff&#39;),url(https://fonts.gstatic.com/s/roboto/v16/RxZJdnzeo3R5zSexge8UUSZ2oysoEQEeKwjgmXLRnTc.ttf) format(&#39;truetype&#39;)}
@font-face{font-family:&#39;Roboto&#39;;font-style:normal;font-weight:700;src:local(&#39;Roboto Bold&#39;),local(&#39;Roboto-Bold&#39;),url(https://fonts.gstatic.com/s/roboto/v16/d-6IYplOFocCacKzxwXSOFtXRa8TVwTICgirnJhmVJw.woff2) format(&#39;woff2&#39;),url(https://fonts.gstatic.com/s/roboto/v16/d-6IYplOFocCacKzxwXSOD8E0i7KZn-EPnyo3HZu7kw.woff) format(&#39;woff&#39;),url(https://fonts.gstatic.com/s/roboto/v16/d-6IYplOFocCacKzxwXSOCZ2oysoEQEeKwjgmXLRnTc.ttf) format(&#39;truetype&#39;)}
@font-face{font-family:&#39;Roboto&#39;;font-style:normal;font-weight:900;src:local(&#39;Roboto Black&#39;),local(&#39;Roboto-Black&#39;),url(https://fonts.gstatic.com/s/roboto/v16/mnpfi9pxYH-Go5UiibESIltXRa8TVwTICgirnJhmVJw.woff2) format(&#39;woff2&#39;),url(https://fonts.gstatic.com/s/roboto/v16/mnpfi9pxYH-Go5UiibESIj8E0i7KZn-EPnyo3HZu7kw.woff) format(&#39;woff&#39;),url(https://fonts.gstatic.com/s/roboto/v16/mnpfi9pxYH-Go5UiibESIiZ2oysoEQEeKwjgmXLRnTc.ttf) format(&#39;truetype&#39;)}
@font-face{font-family:&#39;Roboto&#39;;font-style:italic;font-weight:300;src:local(&#39;Roboto Light Italic&#39;),local(&#39;Roboto-LightItalic&#39;),url(https://fonts.gstatic.com/s/roboto/v16/7m8l7TlFO-S3VkhHuR0at44P5ICox8Kq3LLUNMylGO4.woff2) format(&#39;woff2&#39;),url(https://fonts.gstatic.com/s/roboto/v16/7m8l7TlFO-S3VkhHuR0at4bN6UDyHWBl620a-IRfuBk.woff) format(&#39;woff&#39;),url(https://fonts.gstatic.com/s/roboto/v16/7m8l7TlFO-S3VkhHuR0atywlidHJgAgmTjOEEzwu1L8.ttf) format(&#39;truetype&#39;)}
@font-face{font-family:&#39;Roboto&#39;;font-style:italic;font-weight:400;src:local(&#39;Roboto Italic&#39;),local(&#39;Roboto-Italic&#39;),url(https://fonts.gstatic.com/s/roboto/v16/vPcynSL0qHq_6dX7lKVByfesZW2xOQ-xsNqO47m55DA.woff2) format(&#39;woff2&#39;),url(https://fonts.gstatic.com/s/roboto/v16/1pO9eUAp8pSF8VnRTP3xnvesZW2xOQ-xsNqO47m55DA.woff) format(&#39;woff&#39;),url(https://fonts.gstatic.com/s/roboto/v16/W4wDsBUluyw0tK3tykhXEXYhjbSpvc47ee6xR_80Hnw.ttf) format(&#39;truetype&#39;)}
@font-face{font-family:&#39;Roboto&#39;;font-style:italic;font-weight:500;src:local(&#39;Roboto Medium Italic&#39;),local(&#39;Roboto-MediumItalic&#39;),url(https://fonts.gstatic.com/s/roboto/v16/OLffGBTaF0XFOW1gnuHF0Y4P5ICox8Kq3LLUNMylGO4.woff2) format(&#39;woff2&#39;),url(https://fonts.gstatic.com/s/roboto/v16/OLffGBTaF0XFOW1gnuHF0YbN6UDyHWBl620a-IRfuBk.woff) format(&#39;woff&#39;),url(https://fonts.gstatic.com/s/roboto/v16/OLffGBTaF0XFOW1gnuHF0SwlidHJgAgmTjOEEzwu1L8.ttf) format(&#39;truetype&#39;)}
@font-face{font-family:&#39;Roboto&#39;;font-style:italic;font-weight:700;src:local(&#39;Roboto Bold Italic&#39;),local(&#39;Roboto-BoldItalic&#39;),url(https://fonts.gstatic.com/s/roboto/v16/t6Nd4cfPRhZP44Q5QAjcC44P5ICox8Kq3LLUNMylGO4.woff2) format(&#39;woff2&#39;),url(https://fonts.gstatic.com/s/roboto/v16/t6Nd4cfPRhZP44Q5QAjcC4bN6UDyHWBl620a-IRfuBk.woff) format(&#39;woff&#39;),url(https://fonts.gstatic.com/s/roboto/v16/t6Nd4cfPRhZP44Q5QAjcCywlidHJgAgmTjOEEzwu1L8.ttf) format(&#39;truetype&#39;)}
@font-face{font-family:&#39;Roboto&#39;;font-style:italic;font-weight:900;src:local(&#39;Roboto Black Italic&#39;),local(&#39;Roboto-BlackItalic&#39;),url(https://fonts.gstatic.com/s/roboto/v16/bmC0pGMXrhphrZJmniIZpY4P5ICox8Kq3LLUNMylGO4.woff2) format(&#39;woff2&#39;),url(https://fonts.gstatic.com/s/roboto/v16/bmC0pGMXrhphrZJmniIZpYbN6UDyHWBl620a-IRfuBk.woff) format(&#39;woff&#39;),url(https://fonts.gstatic.com/s/roboto/v16/bmC0pGMXrhphrZJmniIZpSwlidHJgAgmTjOEEzwu1L8.ttf) format(&#39;truetype&#39;)}
@font-face{font-family:&quot;FontAwesome&quot;;font-weight:normal;font-style:normal;src:url(&quot;https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.eot?v=4.7.0&quot;);src:url(&quot;https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.eot?#iefix&amp;v=4.7.0&quot;) format(&quot;embedded-opentype&quot;),url(&quot;https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.woff2?v=4.7.0&quot;) format(&quot;woff2&quot;),url(&quot;https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.woff?v=4.7.0&quot;) format(&quot;woff&quot;),url(&quot;https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.ttf?v=4.7.0&quot;) format(&quot;truetype&quot;),url(&quot;https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular&quot;) format(&quot;svg&quot;)}
i.fa{font-family:fontawesome}
/* Layout */
body {background:#fff;font-family:&#39;Roboto&#39;,sans-serif;font-size:16px;font-weight:400;text-align:left;color:#000;margin:0;padding:0;}
.lalulintas{width:100%;height:100px;background:url(https://3.bp.blogspot.com/-U8LuculNb6Y/WbmcxRWqgwI/AAAAAAAANv8/TH1-fnNHWyQ1TJnvZz5AmJd6_gv3bUc-QCLcBGAs/s1600/infiniteamp4.png);margin:0 auto;position:relative;}
.post-feeds,.feed-links{display:none;}
.section,.widget{margin:0;padding:0;}
strong,b{font-weight:bold;padding:0;}
cite,em,i{font-style:italic;}
a,a:link,a:visited {color:#3b4142;text-decoration:none;transition:all .3s}
a:hover,a:hover:visited {color:#222}
a amp-img,a img{border:none;border-width:0;outline:none;}
amp-img,img{max-width:100%;vertical-align:middle;border:0;}
abbr,acronym{border-bottom:1px dotted;cursor:help;}
sup,sub{vertical-align:baseline;position:relative;top:-.4em;font-size:86%;}
sub{top:.4em;}small{font-size:86%;}
kbd{display:inline-block;border:0;background:#ecf0f1;color:#7f8c8d;border-radius:3px;padding:4px 8px;font-size:14px;margin:0 0.2em;line-height:normal}
mark{background:#ffce00;color:#182025;}
p,blockquote,pre,table,figure,hr,form,ol,ul,dl{margin:1.5em 0;}
hr{height:1px;border:none;background-color:#999;}
code,kbd,pre,samp{font-family:monospace,monospace;}
pre{white-space:pre;word-wrap:normal;overflow:auto;font-size:14px;margin:0}
.post-body blockquote{position:relative;padding:0 15px 0 15px;margin:0;line-height:1.58;letter-spacing:-.003em;border-left:5px solid rgba(0,0,0,0.12);display:flex;transition:all .3s}
.post-body blockquote:hover{border-left-color:rgba(0,0,0,0.16);}
.post-body a{text-decoration:underline;}
*:focus {outline:0;}
h1,h2,h3,h4,h5,h6{font-weight:700;line-height:normal;margin:0;padding:0}
h1{font-size:200%}h2{font-size:180%}h3{font-size:160%}h4{font-size:140%}h5{font-size:120%}h6{font-size:100%}
.post-body h1,.post-body h2,.post-body h3,.post-body h4,.post-body h5,.post-body h6{margin:10px auto}
.post-body h1{font-size:200%}.post-body h2{font-size:180%}.post-body h3{font-size:160%}.post-body h4{font-size:140%}.post-body h5{font-size:120%}.post-body h6{font-size:100%}
input,button,select,textarea{font-size:100%;line-height:normal;vertical-align:baseline;text-align:center;}
textarea{display:block;box-sizing:border-box;}
*,*:before, *:after {-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
input,button,select,textarea{font-size:100%;line-height:normal;vertical-align:baseline;}
textarea{display:block;box-sizing:border-box;}
input.placeholder_text,textarea.placeholder_text{color:#888}
input::-webkit-input-placeholder,textarea::-webkit-input-placeholder,input:-moz-placeholder,textarea:-moz-placeholder,input.placeholder_text,textarea.placeholder_text{color:#444}[placeholder]:focus::-webkit-input-placeholder{transition:opacity .5s .5s ease;opacity:0}
.post ul li span{position:relative;padding:0;ext-decoration:none;}
ol {counter-reset:li;list-style:none;padding:0;margin:0;}
ol ol {margin: 0 0 0 2em;}
.post ol li{position:relative;display:block;padding:0;margin:.5em 0 .5em 2em;background:#fff;text-decoration:none;}
.post ol li:before {content:counter(li);counter-increment:li;position:absolute;left:-2.5em;height:2em;width:2em;text-align:center;}
.post-body ul {position:relative;display:block;padding:0;margin:.5em 0 .5em 1.5em;text-decoration:none;}
/* Post Table */
.post-body table {width:100%;}
.post-body table td,.post-body table caption{background:#fff;border:1px solid rgba(0,0,0,0.05);padding:10px;text-align:left;vertical-align:top}
.post-body table th{background:#fff;color:#222;border:1px solid rgba(0,0,0,0.05);border-bottom:0;padding:10px;text-align:left;vertical-align:top}
.post-body table.tr-caption-container {border:1px solid rgba(0,0,0,0.14);margin:0;}
.post-body th{font-weight:700;}
.post-body table caption{border:none;font-style:italic;}
.post-body td, .post-body th{vertical-align:top;text-align:left;font-size:13px;padding:3px 5px;border:1px solid #97b28e;}
.post-body th{}
.post-body th:hover{color:#fff;}
.post-body td a{color:#444;}
.post-body td a:hover{color:#cf4d35;}
.post-body table.tr-caption-container td{border:0;padding:8px;background:#fff;line-height:17px;overflow:hidden;text-align:center;text-overflow:ellipsis;white-space:nowrap;font-weight:700;color:#000;}
.post-body table.tr-caption-container,.post-body table.tr-caption-container amp-img,.post-body table.tr-caption-container img,.post-body amp-img,.post-body img {max-width:100%;height:auto;}
.post-body li {list-style-type:square;}
.post-body td.tr-caption {color:#666;font-size:80%;padding:0px 8px 8px;}
.sr {visibility:hidden;width:0;height:0;}
.clear{clear:both}
html {-webkit-font-smoothing:antialiased;}
.nonamar{margin:20px auto;position:relative}
.nonamar h4{color:#222;display:inline-block;position:relative;z-index:1;margin:0;padding-right:15px;font-size:18px;background:#fff}
.nonamar:after{position:absolute;z-index:0;top:11px;left:0;width:100%;height:5px;background-color:rgb(245,245,245);content:&quot; &quot;}
/* Custom Cookies Info Dark */
.cookie-choices-info{background-color:rgba(56,66,75,.97);line-height:normal;top:initial;bottom:0;font-family:inherit;-webkit-transform:translateZ(0);}
.cookie-choices-info .cookie-choices-text{font-size:14px;color:#cee6ea}
.cookie-choices-info .cookie-choices-button{font-weight:normal;color:#fff;margin-left:5px;padding:3px 6px;background:#f64c3b;letter-spacing:.8px;transition:all .4s linear}
.cookie-choices-info .cookie-choices-button:nth-child(2){background:#f68c2e;transition:all .4s linear}
.cookie-choices-info .cookie-choices-button:hover,.cookie-choices-info .cookie-choices-button:nth-child(2):hover{background:#282f36;transition:all .1s linear}
.quickedit {display:none}
#BlogArchive1 li.archivedate {padding:0;}
#BlogArchive1 #ArchiveList ul.posts li {padding:0 0 0 22px;line-height:normal;}
#ArchiveList{padding:10px 0}
#ArchiveList select{width:100%;padding:10px;margin-bottom:5px;border:1px solid rgba(201,201,201,0.52);font-size:13px;font-family:&#39;Roboto&#39;,sans-serif}
/* Template Wrapper */
#wrapper{position:relative;background:transparent;max-width:970px;margin:auto;padding:0;overflow:hidden;}
#content-wrapper{background:#fff;padding: 10px;margin-top: 110px;}
#floatside{width:100%;max-width:315px;overflow:hidden;padding:0;will-change:position,scroll-position,top,bottom;z-index:2}
/* Header Wrapper */
#header{position:relative;display:block;padding:15px 0 0 0;overflow:hidden;}
#header2{float:left;max-width:200px}
#header .title{color:#222;font-size:200%;letter-spacing:1px;line-height:1.4em;margin:0;}
#header .title a {color:#3f4546;}
#header .title a:hover {color:#2dbb6d;}
#header p.description {margin:0 auto;color:#444;display:none;}
#header-inner p{margin:0}
.supermenu {display: block;position: fixed;background: #fff;height: auto;min-width: 100%;margin: auto;border-bottom: 1px solid #ddd;z-index: 69;}
.superclear {border-bottom: 1px solid #ddd;}
.w3-content {padding: 5px 0;text-align: center;}
.header amp-img,.header-right amp-img,.header img,.header-right img {display:block;}
.header-right amp-img,.header-right img {max-height:90px;}
.header-right{float:right;padding:0;overflow:hidden;margin:0;width:100%;max-width:728px}
/* Pure CSS Menu */
#menu-navigation{background:transparent;margin:0 auto 15px auto;padding:0;}
#menu-navigation a{color:#333;text-align:left;font-weight:100;}
nav:after{content:&quot;&quot;;display:table;clear:both}
nav ul{float:left;padding:0;margin:0;list-style:none;position:relative}
nav ul li{margin:0;display:inline-block;float:left;background:transparent}
nav a{display:block;padding:16px;color:#fff;font-size:15px}
nav ul li ul li:hover{background:transparent}
nav a:hover{background:transparent;}
nav ul ul{display:none;position:absolute;top:49px;z-index:99}
nav ul li:hover &gt; ul{display:inherit}
nav ul ul li{width:170px;float:none;display:list-item;position:relative}
nav ul ul ul li{position:relative;top:-49px;left:170px}
li &gt; a:after{content:&#39;\f107&#39;;font-family:fontawesome;margin:0 0 0 5px}
.toggle,[id^=drop],nav ul ul li &gt; a:after{display:none}
li &gt; a:only-child:after{content:&#39;&#39;}
@media all and (max-width:768px){
.toggle + a,.menu{display:none}
.toggle{display:inline-block;background:transparent;padding:12px 16px;color:#333;font-size:20px;text-decoration:none;border:none;cursor:pointer;transition:all .3s;float:left;}
.fa-bars:before{content:&#39;\f0c9&#39;;font-family:fontawesome;margin-right:10px}
nav ul li .toggle{display:block;font-size:15px;font-family:Roboto;border-top:1px solid rgba(255,255,255,.1);border-bottom:1px solid rgba(0,0,0,.1)}
nav ul li .toggle:after{content:&#39;\f107&#39;;font-family:fontawesome;float:right}
nav a{border-left:1px dashed rgba(0,0,0,.1);margin:0 25px;}
.toggle:hover{background:transparent}
[id^=drop]:checked + ul{display:inline-block}
nav{display:block;width:100%}
nav ul{float:none;display:block;width:100%}
nav ul li{display:block;width:100%}
nav ul ul .toggle,nav ul ul a{padding:0 40px}
nav ul ul ul a{padding:0 80px}
nav a{font-weight:400;text-transform:none;}
nav a:hover,nav ul ul ul a{background:transparent;}
nav ul li ul li .toggle,nav ul ul a,nav ul ul ul a{padding:16px;color:#fff;display:block}
nav ul li ul li .toggle,nav ul ul a{background:#0468a7}
nav ul ul{float:none;position:static;color:#fff}
nav ul ul li:hover &gt; ul,nav ul li:hover &gt; ul{display:none}
nav ul ul li{display:block;width:100%}
nav ul ul ul li{position:static}}
@media all and (max-width:330px){#menu-navigation ul li{display:block;width:100%}}
/* Search Wrapper */
button.search_icon{background:transparent;border:none;color:#333;cursor:pointer;padding:12px 16px;float:right}
button.search_icon svg{width:24px;height:24px;vertical-align:middle}
button.search_icon svg path{fill:#333}
.resetbutton{background:0 0;border:none;position:absolute;top:50%;margin-top:-17px;right:10px;padding:0;cursor:pointer;line-height:1;transition:all .4s ease-in-out;z-index:999}
.resetbutton svg{width:34px;height:34px;vertical-align:middle}
.resetbutton svg path{fill:#999}
.resetbutton:focus{outline:0}
#search-box .search-form:not(:valid)~.resetbutton{display:none}
#search-box{position:absolute;-webkit-animation-name:swing3;animation-name:swing3;-webkit-animation-duration:3s;animation-duration:3s;-webkit-animation-fill-mode:both;animation-fill-mode:both;width:50%;top:20%;right:0;bottom:0;left:0;margin:auto;-webkit-transform-origin-y:0;}
.sos-profil .search button{background:0 0;border:none;color:red;font-size:30px;padding:0;cursor:pointer}
#search-box form{position:relative}
#search-box form input[type=text]{width:100%;top:0;right:0;bottom:0;left:0;z-index:99;padding:15px 50px 15px 15px;display:table;margin:auto;border:0;outline:0;font-size:2.5em;color:#999;background:#fff;text-indent:20px;border-radius:3px}
amp-lightbox{z-index:1000}
.lightbox{background:rgba(0,0,0,.9);position:absolute;top:0;bottom:0;right:0;left:0;display:flex;align-items:center;justify-content:center}
.lightbox .close_search{background:transparent;border:none;color:rgba(255,255,255,.7);font-size:40px;position:absolute;top:10px;right:20px;cursor:pointer;line-height:1;transition:all .3s}
.lightbox .close_search:hover{color:rgba(255,255,255,.9)}
#search-box .note_search{color:rgba(255,255,255,.7);text-align:center;padding:10px 50px 10px 10px}
@-webkit-keyframes swing3{0%{-webkit-transform:rotateX(40deg)}30%{-webkit-transform:rotateX(-35deg)}50%{-webkit-transform:rotateX(10deg)}70%{-webkit-transform:rotateX(-5deg)}90%{-webkit-transform:rotateX(3deg)}95%{-webkit-transform:rotateX(0deg)}}
@keyframes swing3{0%{-webkit-transform:rotateX(40deg)}30%{-webkit-transform:rotateX(-35deg)}50%{-webkit-transform:rotateX(10deg)}70%{-webkit-transform:rotateX(-5deg)}90%{-webkit-transform:rotateX(3deg)}95%{-webkit-transform:rotateX(0deg)}}
/* Post Wrapper */
#main-wrapper{width:66%;float:left;padding:0;word-wrap:break-word;overflow:hidden;}
.main .Blog{border-bottom-width:0}
.main .widget{margin:0 0 .2em;padding:0 0 .2em}
.date-header{display:none}
h1.post-title.entry-title a,h2.post-title.entry-title a{color:#000;font-family: &#39;Titillium Web&#39;, sans-serif;font-weight:500}
h1.post-title.entry-title a:hover,h2.post-title.entry-title a:hover{color:#000;}
.post-body {margin:0;line-height:1.7em;text-align:left;}
.post-timestamp,.author-info,.comment-info,.label-info{padding:0 5px 0 0}
.author-info:before{content:&quot;&quot;;;font-family:fontawesome}
.post-timestamp:before{content:&#39;\f017&#39;;font-family:fontawesome}
.post-info{color:#999;padding:0;overflow:hidden;border:0;margin:0 auto;font-size:14px;}
.post-info a{color:#999;margin:0 5px 0 0}
.post-info a:hover{margin:0}
.post-info abbr {border:0;text-decoration:none}
.post-body amp-img,.post-body img,.post-body video,.post-body object {max-width:100%}
.breadcrumbs{background: transparent;color: #737171;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;font-size: 14px;padding: 20px 20px;margin: 0 0 0 0;border-left: 1px solid #ccc;}
.breadcrumbs a{color:#737171;margin:0 2px;line-height:normal;}
.breadcrumbs .breadhome a{margin:0 5px 0 0}
.breadcrumbs .breadlabel:last-child{margin:0 0 0 4px}
.breadcrumbs a:hover{color:#fff}
.breadhome:after,.breadlabel:after{content:&#39;\f105&#39;;font-family:fontawesome;margin-left:5px}
.breadlabel:last-child:after{display:none}
.post-footer{line-height:1.6em}
.post-footer a{color: #737171;font-weight: 100;font-size: 12px;text-transform: uppercase;letter-spacing: 1px;}
.feed-links{clear:both;line-height:2.5em;}
/* Post Navigation */
.home-box,.lasthome-box,a.blog-pager-newer-link,a.blog-pager-older-link,a.home-link{padding:0;display:inline-block;line-height:42px;width:70px;height:40px;text-align:center}
#blog-pager-newer-link{float:left}
#blog-pager-older-link{float:right}
#blog-pager-newer-link a,#blog-pager-older-link a,a.home-link{color:#fff;transition:all .4s ease-in-out}
#blog-pager-newer-link a:hover,#blog-pager-older-link a:hover,a.home-link:hover{color:#fff}
.blog-pager svg{width:24px;height:24px;vertical-align:-5px}
#blog-pager,.blog-pager{clear:both;display:block;position:relative;height:45px;line-height:45px;bottom:0;right:0;text-align:right;float:right;margin:20px 20px 0 20px}
#blog-pager-home-link a.home-link,a.blog-pager-newer-link,a.blog-pager-older-link{background:#bdc3c7;color:#fff;transition:all .4s ease-in-out;bottom:0}
a.blog-pager-older-link{border-radius:3px;right:0;z-index:2}
a.blog-pager-newer-link{border-radius:3px;left:0;z-index:2}
#blog-pager-home-link a.home-link{display:none}
#blog-pager-home-link a.home-link:hover,#blog-pager-newer-link a:hover,#blog-pager-older-link a:hover{background:#1d7f49;color:#fff}
.home-box{left:0}
.lasthome-box{right:0}
/* Sidebar Wrapper */
#sidebar-wrapper{padding:0;width:33.9%;float:left;word-wrap:break-word;overflow:hidden}
#sidebar-wrapper h2,#sidebar-wrapper h3,#sidebar-wrapper h4{overflow:hidden;position:relative;color:#222;padding:10px 0;margin:0 0 10px 0;text-transform:uppercase;display:block;border-right:3px solid rgba(0,0,0,0.05);letter-spacing:.5px;font-size:17px;cursor:cursor;}
#sidebar-wrapper h2:hover {position:relative;transition:1s;border-right:10px solid rgba(0,0,0,0.05);}
#sidebar-wrapper h2:before,#sidebar-wrapper h4:before{content:&quot;&quot;;;display:inline-block;height:14px;top:0;left:0;margin:0 10px 0 0;width:15px;background:#3b4142}
#sidebar-wrapper .widget ul{margin:5px 0;padding:5px 0}
.widget-content {margin:0;overflow:hidden}
.sidebar {line-height:1.5em;padding:0 0 0 20px}
.sidebar ul {padding:0;margin:0}
.BlogArchive #ArchiveList ul li {text-indent:0}
.sidebar ul li{margin:0;padding:5px 0;border-bottom:1px solid #f1f1f1}
.sidebar .widget {margin:0 0 10px 0}
/* Sidebar Modified CSS */
#PopularPosts1 ul li amp-img, #PopularPosts1 ul li img {border-radius:4px}
#HTML3 {background: #3b4142;padding: 20px 0;height: 150px;border: 1px dashed #f0f0f0;}
#FeaturedPost1 h3 {font-size: 12px;text-align: center;}
#FeaturedPost1 h3 a{color:#222;}
/*Customized CSS */
.mySlides{color:#555;font-size:12px;}
/* Footer Wrapper */
#footer-wrapper{text-align:left;overflow:hidden;background:transparent;margin:0px auto 0 auto;max-width:970px;padding:0;}
#footer-adwidget .footer-widget {width:31.5%;float:left;margin-left:15px;}
#footer-adwidget{max-width:970px;overflow:hidden;margin:0 auto;}
#footer-wrapper h2,#footer-wrapper h3{overflow:hidden;position:relative;color:#fff;padding:0 0 15px 0;margin:0 0 10px 0;text-transform:uppercase;display:block;border-bottom:3px solid rgba(0,0,0,0.05);letter-spacing:.5px;font-size:17px}
#footer-wrapper h2:before,#footer-wrapper h3:before{content:&#39;&#39;;display:inline-block;height:14px;top:0;left:0;margin:0 10px 0 0;width:15px;background:rgba(255,255,255,.6)}
.footer-column{background:#0373b9;color:rgba(255,255,255,.8);position:relative;margin:0 auto;font-size:14px;line-height:24px;overflow:hidden;text-align:left;padding:20px}
.footer-menu{float:left;width:31%;margin:0 20px 0 0}
.footer-menu p.footer2{margin:5px auto}
.footer-menu ul{margin:0;padding:0}
.footer-menu ul li{list-style-type:square;margin:0 0 0 15px}
.footer-menu ul li a{color:rgba(255,255,255,.8)}
.footer-menu ul li a:hover{color:#fff}
#footer-last{overflow:hidden;text-align:center;padding:20px;margin:auto;font-weight:100;text-transform:uppercase}
.cpleft,#ftright{display:inline-block;color:#222;font-size:11px}
.cpleft a,#ftright a {color:#222;text-decoration:none;}
.cpleft a:hover,#ftright a:hover {color:#222}
.infinimed a{background:rgba(255,255,255,.2);display:inline-block;text-align:center;margin-top:10px;margin-right:5px;color:#fff;border-radius:100%;font-family:Fontawesome;width:32px;height:32px;line-height:32px;opacity:.9;}
.infinimed a:hover{color:#fff;opacity:1;background:rgba(255,255,255,.3);box-shadow:0 0 5px rgba(0,0,0,0.1)}
.infinimed .facebook:after{content:&#39;\f09a&#39;;font-family:fontawesome;}
.infinimed .twitter:after{content:&#39;\f099&#39;;font-family:fontawesome;}
.infinimed .googleplus:after{content:&#39;\f0d5&#39;;font-family:fontawesome;}
.infinimed .rssfeed:after{content:&#39;\f09e&#39;;font-family:fontawesome;}
/* Popular Post */
#PopularPosts1 ul,.PopularPosts li,.PopularPosts li amp-img,.PopularPosts li a,.PopularPosts li a amp-img{color:#202020;margin:0;padding:0;list-style:none;border:none}
#PopularPosts1 ul{margin:0;list-style:none;}
#PopularPosts1 ul li{margin:0;padding:10px 0;position:relative;}
#PopularPosts1 ul li:last-child{border:0}
#PopularPosts1 ul li amp-img,#PopularPosts1 ul li img{display:block;width:100%;height:auto}
#PopularPosts1 ul li .item-title a,.PopularPosts ul li a{color:#202020;font-size:14px;line-height:1.6;}
#PopularPosts1 ul li .item-title a:hover,.PopularPosts ul li a:hover{color:#222;}
#PopularPosts1 .item-thumbnail{margin:0 10px 0 0;overflow:hidden;z-index:2;display:block;position:relative;border-radius:0;height:auto;float:left}
#PopularPosts1 .item-title{padding:0 5px}
#PopularPosts1 ul li:nth-child(1){border-top:none}
#PopularPosts1 ul li .item-snippet{color:#999;font-size:13px}
/* Label */
.label-size-1,.label-size-2,.label-size-3,.label-size-4,.label-size-5 {font-size:100%;opacity:1}
.cloud-label-widget-content{text-align:left;padding:0;}
.label-count {white-space:nowrap;display:inline-block;}
#sidebar-wrapper .label-size{background:#fff;color:#7f8c8d;display:block;float:left;margin:0 4px 4px 0;font-size:14px;border-radius:2px;border:1px solid rgba(0,0,0,0.1);transition:all .1s}
#sidebar-wrapper .label-size:hover{background:#f66b5d}
#sidebar-wrapper .label-size a{display:inline-block;color:#7f8c8d;padding:2px 6px;transition:all .1s}
#sidebar-wrapper .label-size a:hover {color:#fff}
#sidebar-wrapper .label-count{white-space:nowrap;display:inline-block;color:#7f8c8d;padding:2px 6px;text-align:center}
#sidebar-wrapper .Label li{padding:5px 0;margin:0;text-align:left;color:#222;font-size:13px;border-bottom:1px solid rgba(0,0,0,0.05);transition:all .3s}
#sidebar-wrapper .Label li:before{content:&#39;\f10c&#39;;font-family:fontawesome;color:#bdc3c7;margin:0 10px 0 0;}
#sidebar-wrapper .Label li:hover:before{content:&#39;\f111&#39;;}
#sidebar-wrapper .Label li a{color:#222;}
#sidebar-wrapper .Label li a:hover {color:#f66b5d}
#sidebar-wrapper .Label li .nexlab{float:right;background:#bdc3c7;color:#fff;padding:5px 7px;border-radius:3px}
/* Ad Slot */
.banner,.banner2 {margin:0 auto;text-align:center;overflow:hidden;}
.banner {margin:0 auto 20px auto}
.banner .widget,.banner2 .widget {width:100%;max-width:100%;margin:0 auto;background:transparent;text-align:center;overflow:hidden;}
.banner amp-img,.banner iframe,.banner2 amp-img,.banner img,.banner iframe,.banner2 img,.banner2 iframe{display:block;margin:0 auto;text-align:center;}
/* Subscribe Box */
#subscribeBOX{overflow:hidden;margin:20px 0;width:100%}
#subscribeBOX p{margin:1em 0}
#subscribeBOX .emailCol{margin:auto;text-align:center}
#subscribeBOX .emailCol form{margin:0;padding:0;border:0}
#subscribeBOX .emailCol input{background:rgba(255,255,255,1);padding:9px 12px;color:#999;font-size:14px;margin-bottom:0;border:1px solid rgba(0,0,0,0.14);transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;width:73%}
#subscribeBOX .emailCol input:hover{border-color:rgba(0,0,0,.34)}
#subscribeBOX .emailCol input:focus{color:#000;outline:none;border-color:#fff;box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,0.6)}
#subscribeBOX .emailCol .Submitter{background: #3b4142;border: 1px dashed #f0f0f0;color: #fff;margin: 10px 0;font-size: 14px;cursor: pointer;border-radius: 0;transition: all .3s;text-transform:uppercase;letter-spacing: 3px;font-weight:400;}
#subscribeBOX .emailCol .Submitter:active,#subscribeBOX .emailCol .Submitter:hover{color:#fff;background:#3c4141;border:1px dashed #f0f0f0;transition:1s;}
#subscribeBOX .emailCol .Submitter:focus{outline:none;box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,0.6)}
.subdtail {color: #fff;text-align: center;padding: 5px 0;text-transform: uppercase;}
/* Global Responsive */
@media only screen and (max-width:920px) {
#content-wrapper{padding:10px;margin-top: 160px;}
  }
@media screen and (max-width:800px) {
.footer-menu{width:50%;margin:0 auto 15px auto}
#wrapper{padding:0;box-shadow:none;}
.post-media{max-height:175px;overflow:hidden}
.navlist &gt;li.menu-item-has-children.item-plus &gt;a:after,.navlist &gt;li &gt;ul &gt;li.menu-item-has-children.item-plus &gt;a:after{display:none}
#floatside{max-width:100%;position:relative;top:initial}
#header{text-align:center}}
@media only screen and (max-width:768px) {
body{background:#fff}
#content-wrapper{padding:10px;margin-top: 205px;}
#header{padding:20px 10px;}
#header2 {float:none;max-width:100%;}
.header-right {float:none;max-width:100%;margin-top:20px;}
#sidebar-wrapper,#main-wrapper {width:100%;padding:0;border:0}
.sidebar {padding:0;}
#footer-wrapper{margin:20px auto 0 auto}
#footer-adwidget .footer-widget{width:31%}
.banner{margin:0 auto 20px auto}
.banner2{padding:0 10px}
#blog-pager,.blog-pager{margin:20px 0 20px -100px}
#search-box{width:90%}
#search-box form input[type=text]{font-size:1.2em}}
@media screen and (max-width:640px) {
.footer-menu{float:none;width:100%;}
.comment-info{display:none}
.cpleft, #ftright {line-height:normal;}}
@media screen and (max-width:480px) {
#footer-last{padding:10px}
.comments .comments-content .user{line-height:2.8em}}
.status-msg-body {padding:10px 0;display:none}
.status-msg-wrap{display:none;font-size:14px;margin-left:1px;width:100%;color:#666}
.status-msg-wrap a{color:orange}
.status-msg-bg{display:none;background:#ccc;position:relative;width:99%;padding:6px;z-index:1;border-radius:3px;border:2px #999 solid}
.status-msg-border{display:none;border:0;position:relative;width:99%}
<b:if cond='data:blog.pageType != &quot;item&quot;'><b:if cond='data:blog.pageType != &quot;static_page&quot;'>
/* Post Wrapper */
.thumb-wrapper{display:inline-block;position:relative;float:left;margin:0 25px 0 0;width:180px;height:130px;padding:0;z-index:2;overflow:hidden}
.first-thumb{margin:0;width:100%;height:auto;min-height:130px;overflow:hidden;position:relative;transition:all 0.5s ease-out}
.post{margin:0;padding:0 20px 20px 0}
.post h1,.post h2{margin:0;font-size:18px;font-weight:700}
.post-snippet{font-size:14px;line-height:2.0;color:#666;font-weight:100;}
.label-info{position:absolute;left:0;bottom:0;z-index:3;padding:0;font-size:0}
.label-info a{display: inline-block;background: linear-gradient(to left, rgba(255,0,0,0), rgb(59, 65, 66));color: #fff;font-size: 10px;font-weight: 100;padding: 10px 10px;width: 180px;}
.breadcrumbs{margin:10px;}
.jump-link,.label-info a.label-block:nth-child(n+2){display:none;}
@media screen and (max-width:640px) {
.post{margin:0;padding:0 0 15px 0}
.thumb-wrapper{margin:0 10px 0 0;width:100px;height:80px}
.first-thumb{min-height:80px}
.post-snippet{display:none}}
@media screen and (max-width:480px) {
.post{padding:0 0 10px 0}}
</b:if></b:if>
<b:if cond='data:blog.pageType == &quot;static_page&quot;'>
/* Post Wrapper */
#disqus_comments{display:none}
#floatside{max-width:100%;position:relative;top:initial}
</b:if>
<b:if cond='data:blog.pageType != &quot;index&quot;'>
/* Post Section */
#main-wrapper{padding:0 20px 0 0}
.post-body amp-img,.post-body img{background:#fdfdfd;height:auto;max-width:100%;margin-bottom:2px;padding:0}
#disqus_comments{margin:20px auto 0 auto}
h1.post-title.entry-title {margin: 0 0 20px 0;background: transparent;color: #3b4142;font-size: 2em;font-weight: 800;padding: 20px 0;}
/* Comments */
#comments{display:none;position:relative}
/* Shortcodes */
.button{list-style:none;text-align:center;width:95%;margin:10px;padding:2px;font-size:14px;clear:both;}
.button ul {margin:0;padding:0}
.post-body ul.button{list-style:none;text-align:center;margin:0 auto;padding:10px;font-size:14px;clear:both;z-index:2;width:100%;border-radius:5px;border:1px solid rgba(0,0,0,0.05)}
.button li{display:inline-block;margin:10px 5px;padding:0;list-style:none;width:47.8%}
.post-body ul.button a.demo,.post-body ul.button a.download{position:relative;display:block;background:#ec2028;max-width:100%;padding:14px;color:#fff;font-weight:700;font-size:1.1rem;text-align:center;text-transform:uppercase;letter-spacing:0.5px;margin:auto;border-radius:5px;overflow:hidden;transition:all .1s}
.post-body ul.button a.demo{background:#1abc9c}
.post-body ul.button a.demo:hover{background:#16a085;color:#fff}
.post-body ul.button a.download{background:#ef4d47;}
.post-body ul.button a.download:hover{background:#d7403a;color:#fff}
.first-letter{float:left;font-size:60px;line-height:60px;padding-top:4px;padding-right:8px;padding-left:3px;font-family:Georgia}
.bagidua {-webkit-column-count:2;-moz-column-count:2;column-count:2;}
.bagitiga {-webkit-column-count:3;-moz-column-count:3;column-count:3;}
.bagiempat {-webkit-column-count:4;-moz-column-count:3;column-count:4;}
.bagidua amp-img,.bagitiga amp-img,.bagiempat amp-img,.bagidua img,.bagitiga img,.bagiempat img{-webkit-backface-visibility:hidden;margin-bottom:20px;max-width:100%;}
#wrap{margin:20px auto;text-align:center}
.btn{display:block;background:#3498db;width:100%;padding:14px;color:#fff;font-size:1.1rem;text-align:center;text-transform:uppercase;letter-spacing:0.5px;border-radius:4px;transition:all .3s}
.btn:hover,.btn:active,.btn.down:hover,.btn.down:active{background:#45aef5}
.post-body a:visited.btn,.post-body a:visited.btn.down,.post-body a:link.btn,.post-body a.btn.down,.post-body a.btn:hover,.post-body a.btn:active,.post-body a.btn.down:hover,.post-body a.btn.down:active{color:#fff}
.btn i{margin:0}
.btn.down.anima{-webkit-animation:anim 2s ease-in infinite;animation:anim 2s ease-in infinite}
.videoyoutube{text-align:center;margin:auto;width:100%;}.video-responsive{position:relative;padding-bottom:56.25%;height:0;overflow:hidden;}.video-responsive iframe{position:absolute;top:0;left:0;width:100%;height:100%;border:0}
.BLOG_mobile_video_class{display:none;}
.post-body a.amp-img,.post-body a.img,.post-body .separator a {margin-left:0;margin-right:0;}
</b:if>
<b:if cond='data:blog.pageType == &quot;item&quot;'>
/* Post Section */
.comments-content {display:block;position:relative;margin-top:15px;}
#blog-pager,.blog-pager{margin:40px 0 0 20px}
.img-center{text-align:center;margin:0 auto;}
.img-left{clear:left;float:left;margin-bottom:1em;margin-right:1em;text-align:center;}
.img-right{clear:right;float:right;margin-bottom:1em;margin-left:1em;text-align:center;}
.img-width-300,.img-width-400,.img-width-500,.img-width-600{width:100%;text-align:center;clear:both}
.img-width-300{max-width:300px;}
.img-width-400{max-width:400px;}
.img-width-500{max-width:500px;}
.img-width-600{max-width:600px;}
@media screen and (max-width:640px){
.img-width-500.img-left,.img-width-500.img-right,.img-width-600.img-left,.img-width-600.img-right{clear:both;float:none;margin:1em auto;text-align:center;}}
@media screen and (max-width:414px){
.img-width-300.img-left,.img-width-300.img-right,.img-width-400.img-left,.img-width-400.img-right{clear:both;float:none;margin:1em auto;text-align:center;}}
/* Item Responsive */
@media screen and (max-width:768px){
#main-wrapper{padding:0}}
@media only screen and (max-width:960px){
.bagitiga{-webkit-column-count:2;-moz-column-count:2;column-count:2;}}
@media only screen and (max-width:640px){
.bagitiga{-webkit-column-count:1;-moz-column-count:1;column-count:1;}}
</b:if>
<b:if cond='data:blog.pageType == &quot;error_page&quot;'>
#header,#outer-wrapper,#post-wrapper,#sidebar-wrapper,#footer-wrapper,#content-wrapper,#wrapper,.vikkatotop.arlniainf,.vikkatotop{display:none;}
body,html{overflow:hidden;margin:0;padding:0;width:100%;min-height:100vh;}body{background:#fafafa}
.page_menu_wrapper{border-bottom:1px solid rgba(0,0,0,0.05)}
.container404{margin:8% auto 0 auto;max-width:640px;min-width:200px;line-height:normal;backface-visibility:hidden;transition:all .3s;}
.box404{background:#fff;padding:20px;font-size:100%;color:#222;box-shadow:0 19px 38px rgba(0,0,0,0.10),0 15px 12px rgba(0,0,0,0.05);transition:all .3s}
.box404:hover{box-shadow:0 3px 6px rgba(0,0,0,0.08),0 3px 6px rgba(0,0,0,0.13);}
.box404 h2,.box404 h3{color:#222;display:block;text-align:center;font-size:1.5rem;margin:10px auto;font-weight:400}
.box404 h2{font-size:7rem;color:#222}
.box404 h3{margin:10px auto 20px auto;}
.box404 p{display:block;margin:10px 0}
.box404 ul li{margin:0 0 8px 20px;list-style:initial;list-style-type:square}
.box404 ul li a{color:#222;}.box404 ul li a:hover{color:#000;}
.copyright404{display:block;text-align:center;margin:auto;font-weight:normal;max-width:640px;min-width:200px;padding:20px;border-radius:0 0 5px 5px}
.copyright404 a,.copyright404 a:hover{color:#000}
@media screen and (max-width:1024px) {
.box404 h2{font-size:4rem;}
.container404{margin:4% auto 0 auto;}}
</b:if>
